language: android
android:
 components:
    - tools
    - build-tools-29.0.2
    - android-29

jdk: oraclejdk8

script:
  - ./gradlew build

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
