---
---

@import "{{ site.theme }}";

.links li {
    list-style: none;
    font-size: 35px;
    padding: 0.3em;
}

.badge {
    height: 120px
}

.attribution {
    font-weight: light;
    color: $grey-color;
    font-size:15px;
}
