<!DOCTYPE html>

<html>
	<head>
		<title>{{ pagetitle }} - SMS Sync</title>
	</head>
	<div id="loginbar" style="align: center">
		{% if user %}
			Logged in as: <b>{{ user }}</b> [<a href="/_ah/logout">logout</a>]
		{% else %}
			You are not logged in.  [<a href="/_ah/login">login</a>]
		{% endif %}
	</div>
	<div id="navbar">
		<ul>
			<li><a href="/" class="menu-item">Home</a></li>
			<li><a href="/messages" class="menu-item">Messages</a></li>
		</ul>
	</div>
	<div id="content">
		<h1>{{ pagetitle }}</h1>
		{% block content %}{% endblock content %}
	</div>
</html>
